rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    function isAuthorizedUser() {
      return request.auth != null
        && request.auth.token.email_verified == true
        && request.auth.token.email == 'xeve06@gmail.com';
    }

    match /reference-images/{allPaths=**} {
      allow read, delete: if isAuthorizedUser();
      allow create, update: if isAuthorizedUser()
        && request.resource.size < 2 * 1024 * 1024
        && request.resource.contentType == 'image/webp';
    }
  }
}
